@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* { margin: 0; box-sizing: border-box; }
body { background-color: #0f0f0f; font-family: 'Poppins', sans-serif; }
.header { width: 25%; height: 50px; display: flex; gap: 20px; align-items: center; }
.bar svg { width: 25%
font-size:20px; color: #fff; }
.logo img { width: 100px; }
.main { width: 100%; height: 100%; background-color: #0f0f0f; display: flex; float: left; gap: 15px; padding: 0 15px; }
.side-bar { width: 20%; height: 100%; padding: 0 15px; }
.top-head { width: 100%; margin: 10px 0 40px; display: flex; align-items: center; }
.video-part { width: 31.33%; min-height: 250px;	/* background-color: #ddd; */ float: left; gap: 10px; }
.main-body { width: 80%; height: 100%; }
.search input { width: 460px; height: 35px; border: 1px solid #303030; border-radius: 25px; background-color: #000; padding-left: 10px; color: #fff; }
header { display: flex; padding: 10px 30px; justify-content: space-between; }
.search { width: 70%; height: 50px; align-items: center; display: flex; justify-content: center }
.icons { width: 15%; text-align: right; }
.icons svg { color: #fff; }
.icons img { width: 25px; height: 22px; border-radius: 100%; }
.icons ul { display: flex; list-style: none; text-decoration: none; gap: 13px; align-items: center; height: 50px; }
.search svg { color: #fff; position: absolute; }
.serach form { display: flex; }
.form-1 { position: relative; }
.top-head ul li a { font-size: 12px; list-style: none; text-decoration: none; color: #fff; background-color: #272727; padding: 6px 10px; border-radius: 10px; display: block; }
.top-head ul { display: flex; gap: 25px; }
form.form-1 span { position: absolute; right: 0px; top: 0px; background-color: #303030; width: 50px; height: 35px; display: flex; align-items: center; justify-content: center; border-radius: 0 20px 20px 0; }
.video-list { flex-wrap: wrap; padding: 0px 10px; display: flex; gap: 15px; }
.top-head ul li a:hover { background-color: #3f3f3f; }
.side-bar ul li a { width: 15px; color: #fff; text-decoration: none; font-size: 12px; padding: 10px 20px; border-radius: 10px; }
.side-bar ul li a.active,
.side-bar ul li a:hover { background-color: #3f3f3f; }
.side-bar ul { display: flex; gap: 10px; flex-direction: column; padding: 0; }
.side-bar ul li { list-style: none; }
.logo { height: 22px; }
.mic { position: absolute; right: -55px; top: 0px; background-color: #303030; width: 38px; aspect-ratio: 1/1; display: flex; align-items: center; justify-content: center; border-radius: 100%; }
.side-bar ul li img { filter: invert(1); width: 25px; text-align: center; }
.side-bar ul li a svg { font-size: 22px; }
.side-bar ul li a { font-size: 14px; display: flex; align-items: center; gap: 10px; justify-content: start; width: 100%; }
.video-text { display: flex; gap: 15px; }
.user-images { width: 60px; }
.user-images img { width: 90%; aspect-ratio: 1/1; border-radius: 100%; }
.user-text ul { padding: 0; list-style: none; display: flex; gap: 15px; color: #aaa; font-size: 12px; }
.video-images img { width: 100%; }
.user-text h3 { font-size: 14px; color: #fff; text-decoration: none; text-transform: capitalize; }
.user-text p { font-size: 13px; color: #aaa; text-decoration: none; }
.video-part a { text-decoration: none; }
.line { width: 100%; height: 1px; background-color: #3f3f3f; }